@import "../../../scss/theme";

.container {
  display: flex;
  height: 80vh;
}

.leftPanel {
  flex: 1;
  padding: 20px;
  width: 50vw;
  height: 80vh;
  border-right: 1px solid #ccc;
  background-color: $white;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.leftPanel ul {
  list-style: none;
  padding: 0;
}

.leftPanel li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.leftPanel li:hover {
  background-color: $blac-shade-3;
  color: $white;
}

.selected {
  background-color: $blac-shade-3;
  color: $white;
}

.rightPanel {
  flex: 1;
  padding: 10px;
  background-color: #fff;
}

.details {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.topRightButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topRightButton:hover {
  background-color: #0056b3;
}

.inputContainer {
  width: 100%;
  height: 50px;
}

.inputOverride {
  height: unset !important;
  padding: 0 !important;
  width: 50% !important;
  border-radius: 2px;

  input {
    font-size: 12px !important;
    padding: 10px 10px;
    border-radius: 10px;
  }
}

.addBtn {
  width: 100px !important;
  font-size: 14px !important;
  margin-top: 20px !important;
  height: 25px !important;
  border-radius: 5px !important;
  background: $blac-shade-3 !important;
  padding: 2px 0 !important;
  font-weight: 550;
  color: white;
}

.noData {
  flex: 1;
  text-align: center !important;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #555;
  margin: 20px 0;
}