.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 85%;
  border: none;
  background-color: black;
  .logo {
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      color: #fff;
      align-items: center;
      text-decoration: none;
      img {
        width: 25%;
        margin: 0 10px;
        display: inline-block;
      }
      p {
        font-size: 25px;
      }
      h4 {
        font-size: 17px;
      }
    }

    .toggleBtn {
      width: 25px;
      margin: 0 10px;
    }
  }
  .links {
    display: flex;
    flex-direction: column;

    a,
    span {
      font-size: 15px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      padding: 7px 0;
      cursor: pointer;
      img {
        margin: 0 10px;
        width: 30px;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 10px;
      }
    }
  }
}
.submenu {
  display: block;
  list-style: none;
  margin-top: 10px;
  li {
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer !important;
  }
  a {
    color: #fff;
    font-size: 15px !important;
  }
}
.signOut {
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  right: 1;
  margin-bottom: 40px;
  width: 100%;
}
.active {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
}
.sliderBox {
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 40px;
  height: 100%;
  position: fixed;
  left: 0;
}
