@import '../../../scss/theme';
.container{
  height: 80vh;
  background-color: $hawkes-blue;
  padding: 10px;
.formContainer{
  width: 50%;
}
.createBtn {
    width: 100% !important;
    font-size: 18px !important;
    margin-top: 10px;
    height: 35px !important;
    border-radius: 10px;
    background: $blue;
    padding: 5px 0 !important;
    font-weight: 550;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
.addBtn {
    width: 100px !important;
    font-size: 14px !important;
    margin-top: 10px;
    height: 25px !important;
    border-radius: 3px;
    background: $blue;
    padding: 2px 0 !important;
    font-weight: 550;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  .options{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    margin:0 0 10px 0;

  }
  .removeBtn {
    width: 100px !important;
    font-size: 14px !important;
    margin-top: 10px;
    height: 25px !important;
    border-radius: 3px;
    background: rgba(244, 33, 33, 0.829);
    padding: 2px 0 !important;
    font-weight: 550;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  .inputContainer {
    width: 100%;
  }
  .inputOverride {
    height: unset !important;
    padding: 0 !important;
    width: 100% !important;
    border-radius: 5px;
    input {
      font-size: 12px !important;
      padding: 10px 10px;
      border-radius: 10px;
    }
  }
  .labelClass {
    font-size: 15px !important;
    font-weight: 600;
    margin-top: 8px;
    margin: 8px 0 !important;
    line-height: 10px !important;
  }
  @media (min-width: 1100px) {
    .overrideErrorClass {
      color: red;
      margin-bottom: 25px;
    }
  }
}