@import '../../../scss/theme';
.createBtn {
  width: 100% !important;
  font-size: 18px !important;
  height: 0px !important;
  border-radius: 10px;
  padding: 1.5rem 0 !important;
  font-weight: 550;
  color: white;
  margin-top: 10px;
  background-color: $blac-shade-3 !important;
  cursor: pointer;
}
.titleContainer {
  background: linear-gradient(to bottom right, $coral-pearl, $coal-black); /* Example colors */
  width: 100%;
  color: $white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}
.addBtn {
  width: 100px !important;
  font-size: 14px !important;
  margin-top: 20px !important;
  height: 25px !important;
  border-radius: 5px !important;
  background: $blac-shade-3 !important;
  padding: 2px 0 !important;
  font-weight: 550;
  color: white;
}
.container{
  height: 80vh;
  background-color: $hawkes-blue;
  padding: 10px;
.formContainer{
  width: 50%;
}


  .options{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    margin:0 0 10px 0;

  }
  .removeBtn {
    width: 100px !important;
    font-size: 14px !important;
    margin-top: 10px;
    height: 25px !important;
    border-radius: 3px;
    background: rgba(244, 33, 33, 0.829);
    padding: 2px 0 !important;
    font-weight: 550;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  .inputContainer {
    width: 100%;
  }
  .inputOverride {
    height: unset !important;
    padding: 0 !important;
    width: 100% !important;
    border-radius: 5px;
    input {
      font-size: 12px !important;
      padding: 10px 10px;
      border-radius: 10px;
    }
  }
  .labelClass {
    font-size: 15px !important;
    font-weight: 600;
    margin-top: 8px;
    margin: 8px 0 !important;
    line-height: 10px !important;
  }
  @media (min-width: 1100px) {
    .overrideErrorClass {
      color: red;
      margin-bottom: 25px;
    }
  }
}