// ProductBuilder.module.scss
@import "../../../scss/theme";
.container {
  display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}
.productBuilder {
  // Define styles for the container
  background-color:beige;
  margin: 20px;
  padding: 20px;

  h2 {
    // Styles for the heading
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  label {
    // Styles for labels
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  input[type="radio"],
  input[type="checkbox"] {
    // Styles for radio and checkbox inputs
    margin-right: 5px;
  }

  .fieldsContainer {
    border: 1px solid black;
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10px;
  }
  // Add more styles as needed for other elements
}

// Add additional styles for different field types
.radio-options {
  // Styles for radio options container
  margin-top: 5px;
}

.checkbox-options {
  // Styles for checkbox options container
  margin-top: 5px;
}

.multi-select-options {
  // Styles for multi-select options container
  margin-top: 5px;
}

.flex {
  display: flex;
}

.inputContainer {
  width: 100%;
  height: 100px;
}
.inputOverride {
  height: unset !important;
  padding: 0 !important;
  width: 50% !important;
  border-radius: 2px;
  
  input {
    font-size: 12px !important;
    padding: 10px 10px;
    border-radius: 10px;
  }
}
.labelClass {
  font-size: 24px !important;
  font-weight: 50;
  color: $blac-shade-3;
  margin: 10px 0px 20px 0px !important;
  line-height: 10px !important;
}
.titleContainer {
  background-image: linear-gradient(to bottom right,$primaryDark ,$primaryLight, $skyBlueLight); /* Example colors */
  width: 100%;
  color: $white;
  padding: 10px 10px 10px 10px;
  border-radius: 20px 20px 0 0px;
}
@media (min-width: 1100px) {
  .overrideErrorClass {
    color: red;
    margin-bottom: 25px;
  }
}

// Add styles for other field types as needed