@import '../../scss/variables';
.container{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .addBtn {
        width: 150px !important;
        font-size: 14px !important;
        margin-top: 20px !important;
        height: 35px !important;
        border-radius: 5px !important;
        background: $blac-shade-3 !important;
        padding: 2px 0 !important;
        font-weight: 550;
        color: white;
        margin-bottom: 20px;
        margin: 5px 0px 10px 5px;
      }
    .addNewUser {
        width: 150px !important;
        font-size: 14px !important;
        margin-top: 20px !important;
        height: 35px !important;
        border-radius: 5px !important;
        background-image: conic-gradient($skyBlue, $primaryDark, $primaryLight,$primaryDark,$skyBlue);
        padding: 2px 5px !important;
        font-weight: 550;
        color:$white;
        margin: 5px 0px 10px 5px;
      }
    .excelBtn {
        width: 150px !important;
        font-size: 14px !important;
        margin-top: 20px !important;
        height: 35px !important;
        border-radius: 5px !important;
        background: linear-gradient(125deg, $green-funcky,$btnGreen,$green );
        padding: 2px 5px !important;
        font-weight: 550;
        color:$white;
        margin: 5px 0px 10px 5px;
      }
    .assignBtn {
        width: 150px !important;
        font-size: 14px !important;
        margin-top: 20px !important;
        height: 35px !important;
        border-radius: 5px !important;
        background: linear-gradient(65deg,$blue, $dark-blue,$blue );
        padding: 2px 5px !important;
        font-weight: 550;
        color:$white;
        margin: 5px 0px 10px 5px;
      }
      .hideModalHeader {
        padding: 0px !important;
        line-height: 0px !important;
        margin: 10px;
        background: white !important;
      }
      .modalBody{
          min-height: 60% !important;
          width: 45% !important;
          padding: 29px 30px !important;
      }
}