.users {
  display: flex;
  flex-direction: column;
}
.addActions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  .instructions{
    margin: 20px;
    padding: 10px;
    background-color: grayscale($color: #f0e7e7);
  }
  .csvActions{
    display: flex;
    flex-direction: row;
    margin: 10px;
   justify-content: space-between;
    padding: 5px;
  }
}
.addUser {
  margin-bottom: 10px;
  float: right;
}
.userTable {
  padding: 5px;
  h1 {
    text-align: center;
  }
}
.hideModalHeader {
  padding: 0px !important;
  line-height: 0px !important;
  margin: 10px;
  background: white !important;
}
.modalBody{
    min-height: 60% !important;
    width: 45% !important;
    padding: 29px 30px !important;
}
