.mainContainer{
  display: flex;
  flex-direction: column;
}
.saveButton {
  margin-left: auto;
  padding:30px;
}
.saveButton1{
  width:80px;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
    height: 100%;
  }
  .fieldGroupContainer, .selectedItemsContainer{
    width:48%;
    height:70vh;
    border: 1px solid #ccc;
  }
  
  .searchContainer {
    // margin-left:5px;
    padding: 5px;
    width: 98%;
    border: 0px solid #ccc;
    height: 78%;
    overflow: auto;
    background-color: #f5f5f5;
  }
  .userInputContainer{
    padding-left: 15px;
    width: 100%;
  }
  
  input {
    width: 40%;
    height: 25px;
  }

  table {
    width: 100%;
    text-align: left;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    background-color:#007bff !important;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
  }
  
  .disabled {
    background: grey;
    cursor: no-drop;
  }
  .checkboxContainer {
    display: flex;
    flex-direction:row;
  }
  .inputBody {
    cursor: move;
    background-color: #f0f0f0;
    overflow: auto;
  }
  
  .nameCell,
  .typeCell,
  .buttonCell {
    padding: 8px;
    margin: 0;
  }
